 <div class="user-details">
  <h1> About me</h1>
  <p> {{site.user_description}} </p>
</div>
  <div class="user">
    <div class="tech">
      <h2>Design</h2>
      <i class="devicon-html5-plain-wordmark"></i>
      <i class="devicon-bootstrap-plain-wordmark colored"></i>
      <i class="devicon-css3-plain-wordmark colored"></i>
      <i class="devicon-photoshop-line colored"></i>
      <p> HTML, CSS, Bootstrap, Photoshop</p>
    </div>
    <div class="tech">
      <h2>Code</h2>
      <i class="devicon-javascript-plain colored"></i>
      <i class="devicon-nodejs-plain-wordmark"></i>
      <i class="devicon-python-plain-wordmark colored"></i>
      <i class="devicon-react-original-wordmark colored"></i>
      <i class="devicon-mongodb-plain-wordmark colored"></i>
      <p>JavaScript(ES6), NodeJS, Python, React Ecosystem (reactjs, flux/redux, react router), MongoDB</p>
    </div>
    <div class="tech">
      <h2>Tools</h2>
      <i class="devicon-git-plain-wordmark colored"></i>
      <i class="devicon-linux-plain colored"></i>
      <i class="devicon-visualstudio-plain colored"></i>
      <i class="devicon-heroku-original-wordmark colored"></i>
      <p>Git, Linux, Visual Studio Code, Heroku</p>
    </div>
</div>
