<div class="user-details">
  <h1> Featured Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <a href="{{ "/assets/img/freecodecamp.png" | prepend: site.baseurl }}">
      <img alt="mountains" src="{{ "/assets/img/mern.jpg" | prepend: site.baseurl }}" />
    </a>
  </div>
  <div class="contents">
    <h3> Full stack </h3>
    <ul>
      <li> Featured Skills: Full Stack JavaScript
        <br/>Node, expressjs, pugjs(templating engine), mongodb, mongoose, passport.js, html, css, JS</li>
    </ul>
    <p> Voting App: A full stack javascript voting app that enables user to create, delete, vote and share poll, view the results and other options. </p>
    <a class="project-link" target="_blank" href="https://makkbit.github.io/projects/#fullstack">Check it out</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/ttt.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Frontend projects on codepen </h3>
    <ul>
      <li> Features Skills:
        <br/> HTML, CSS, JS </li>
    </ul>
    <p> Unbeatable tic tac toe, simon game, arcade game, Profile card design, Animated menu icon, and others...</p>
    <a class="project-link" href="https://codepen.io/makkBit/">Check it out</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-right">
    <a href="{{ " /assets/img/freecodecamp.png " | prepend: site.baseurl }}">
      <img alt="mountains" src="{{ " /assets/img/api.png" | prepend: site.baseurl }}" />
    </a>
  </div>
  <div class="contents">
    <h3> APIs </h3>
    <ul>
      <li> Featured Skills: 
        <br/>Node, Express, MongoDB</li>
    </ul>
    <p> Image Search Abstraction Layer, URL shortener microservice, timestamp microservice, and others...</p>
    <a class="project-link" target="_blank" href="https://makkbit.github.io/projects/#api">Check it out</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ " /assets/img/react.png " | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> React.js </h3>
    <ul>
      <li> Features Skills:
        <br/> React, React-router </li>
    </ul>
    <p> Game of Life, recipe board, top camper, github api spa, and others...</p>
    <a class="project-link" href="https://makkbit.github.io/projects/#react">Check it out</a>
  </div>
</div>