<div class="user-details">
  <h1> Featured Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <a href="{{ "/assets/img/freecodecamp.png" | prepend: site.baseurl }}">
      <img alt="mountains" src="{{ "/assets/img/freecodecamp.png" | prepend: site.baseurl }}" />
    </a>
  </div>
  <div class="contents">
    <h3> freeCodeCamp Web Development Projects </h3>
    <ul>
      <li> Featured Skills: Full Stack JavaScript
        <br/>(JS, React, Redux, React-router, Node, expressjs, pugjs, mongodb, mongoose, passportjs</li>
    </ul>
    <p> Voting App, APIs and microservices, Unbeatable TicTacToe, Arcade game, Game of Life, Recipe board and others...</p>
    <a class="project-link" target="_blank" href="https://makkbit.github.io/projects/">Check it out</a>
  </div>
</div>
<!-- 
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/skate.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Project Title </h3>
    <ul>
      <li> Featured Skills</li>
    </ul>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    <a class="project-link" href="#">Check it out</a>
  </div>
</div> -->
